body {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.card-conteiner {
  width: 850px;
  margin: 0 auto;
  background-color: #ccc;
  display: flex;
}

.card_wrap {
  width: 200px;
  height: 300px;
  background-color: #fff;
  position: relative;
  margin: 10px;
  font-size: 40px;
  perspective: 1000px;
}

.card-img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.back-side, .front-side {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
}

.back-side {
  transform: rotateY(180deg);
}

.card_wrap:hover .back-side {
  transform: rotateY(360deg);
}

.card_wrap:hover .front-side {
  transform: rotateY(180deg);
}

.card-name-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.card-color-red {
  color: red;
}

.card-color-black {
  color: #000;
}