@import '../libs/_normalize.css';

@font-face {
    font-family: "gothamBold";
    src: url("../fonts/gothambold/gothamBold.woff");
        font-style: normal;
        font-weight: bold;
}

@font-face {
    font-family: "gothamBook";
    src: url("../fonts/gothamBook/GothamBook.woff");
        font-style: normal;
        font-weight: normal;
}

@font-face {
    font-family: "gothamMedium";
    src: url("../fonts/gothamMedium/gotham-medium.woff"),
         url("../fonts/gothamMedium/gotham-medium.woff2");
        font-style: normal;
        font-weight: normal;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1,h2,p,ul {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.background_item {
    width: 585px;
    height: 470px;
    background-color: #55B7FF;
}

.conteiner {
    margin: 0 auto;
    max-width: 1170px;
   // width: 100%;

}

/*HEADER START*/
.header {
    width: 100%;
    padding: 30px;
    //padding-top: 60px;
    //background-color: #ddd;
    position: fixed;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 1;

    .logo_img{
        max-height: 100%;
        max-width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        @media (max-width: 490px) {
            max-height: 100%;
            max-width: 200px;
        }
    }
    .menu {
        display: flex;
        max-width: 600px;
        width: 100%;
        justify-content: space-between;
        @media (max-width: 767px) {
            display: block;
        }
        &_link {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            align-items: center;
            
            .circle {
                width: 10px;
                height: 10px;
                border: 1px solid #ffffff;
                border-radius: 50%;
                margin-right: 5px;
                margin-left: 10px;
            }
            .circle_fill {
                width: 10px;
                height: 10px;
                background-color: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 50%;
                margin-right: 5px;
                display: none;
            }
            .link {
                font-family: 'GothamBook';
                text-decoration: none;
                color: #ffffff;
                margin-left: 10px;
            }
        }
        &_link:hover .circle {
            display: none;
        }
        &_link:hover .circle_fill {
            display: block;
        }
    }
    .social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 160px;
        width: 100%;
        @media (max-width: 767px) {
            display: none;
        }
        a {
            height: 40px;
            width: 40px;
           // font-size: 20px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #000;
            .fab {                
                color: #ffffff;
            }
            .fab:hover {
                color: orange;
            }
        }
        a:hover {
            animation-name: rotate;
            animation-duration: 1s;
        }
    }
}

//BURGER START


.menu__burger {
    display: none;
}

@media (max-width: 767px) {

    body.lock {
        overflow: hidden;
    }

    .menu__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;  
       // margin-right: 45px;      
    }
    .menu__burger:before,
    .menu__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .menu__burger:before {
        top: 0;        
    }
    .menu__burger:after {
        bottom: 0;
    }

    .menu__burger.active span {
        transform: scale(0);
    }

    .menu__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .menu__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }  

    .burger__span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        overflow: auto;
        //background-color: #18b5a4;
        height: 30%;
        display: block;
        width: 100%;
        transition: all 0.5s ease 0s;
    }

    .menu.active {
        top: 100px;
    }

    .menu_link {
        padding-bottom: 20px;
        justify-content: center;

    }

    .circle, .circle_fill {
        display: none;
    }
}
//BURGER END

.scrolled {
    //background-color:  #55B7FF !important;
    background-image: url(../img/sliders/slide1.png);
}

.title__wrap {
    position: absolute;
    top: 50%;
    left: calc(50% - 420px);
    z-index: 1;
    text-align: center;
    @media (max-width: 967px) {
        left: calc(50% - 320px);
    }
    @media (max-width: 767px) {
        left: calc(50% - 240px);
    }
    @media (max-width: 490px) {
        left: calc(50% - 215px);
    }
    @media (max-width: 320px) {
        left: calc(67% - 215px);
    }
}

.header__title {
    font-family: 'gothamBold';
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
    //font-size: calc(24px + 56 * (100vh / 1170));
    @media (max-width: 967px) {
        font-size: 60px;
    }
    @media (max-width: 767px) {
        font-size: 40px;
    }
    @media (max-width: 490px) {
        font-size: 30px;
    }
} 

.header__subtitle {
    font-family: 'gothamBook';
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    @media (max-width: 767px) {
        font-size: 16px;
    }
    @media (max-width: 490px) {
    
    }
}

/*HEADER END*/
/*
.header {
    position: relative;
    width: 100%;
    height: 100vh;
}

.nav {
    display: flex;
    position: absolute;
    top: 1em;
    color: #fff;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav__item {
    display: inline;
}

.header-slider__wrap {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}*/



//dots

.my-dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    top: 50%;
    @media (max-width: 490px) {   
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
        bottom: 0;
        justify-content: center;
    }
  }
  
  .my-dots li {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 40px 40px 0;
    padding: 0;
    cursor: pointer;
  }
  
  .my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    
  }
  
  .my-dots li button:hover,
  .my-dots li button:focus {
    outline: none;
  }
  
  .my-dots li button:hover:before,
  .my-dots li button:focus:before {
    opacity: 1;
  }
  
  .my-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    text-align: center;
    opacity: .25;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }
  
  .my-dots li.slick-active button:before {
    opacity: .75;
    color: white;
    background-color: #fff;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }
  
  .slide__img {
      object-fit: cover;
  }

  .slick-slide {
      height: 100vh !important;
  }

  .projects {
      position: relative;
      @media (max-width: 967px) {
        margin-bottom: 120px;
      }
  }

  .project__body {
      display: flex;
      @media (max-width: 967px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  }

  .change {
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      @media (max-width: 967px) {
        flex-direction: column;
        
      }
  }

  .project__body__content {
      padding-left: 50px;
      @media (max-width: 967px) {
            text-align: center;
      }
  }

  .body__content__next {
    padding: 0 50px 0 0;
    margin-left: 20px;
    @media (max-width: 630px) {
        padding: 0 20px 0 0;
    }
  }

  .project__body__img {
      position: relative;
  }

  .project-img__wrap {
      z-index: 1;
      padding-bottom: 200px;
      @media (max-width: 967px) {
        padding-bottom: 0;
      }
  }

  .project__img {
    //margin-left: 25px;
    @media (max-width: 630px) {
        max-width: 100%;
        
    }
  }

  .clearpad {
    padding-bottom: 130px;
    @media (max-width: 967px) {
        padding-bottom: 0;
    }
  }

  .img_bg {
      position: absolute;
      top: 220px;
      left: 0;
      background-color: #55B7FF;
      width: 630px;
      height: 470px;
      max-width: 100%;
      max-height: 100%;
      @media (max-width: 630px) {
        height: 200px;
      }
  }

  .img_bg__next {
    position: absolute;
    top: -70px;
    right: 0;
    background-color: #7E5AFF;
    width: 630px;
    height: 470px;
    max-width: 100%;
    max-height: 100%;
    @media (max-width: 630px) {
        height: 200px;
    }
  }

  .projects__title {
      font-family: 'gothamBold';
      font-size: 44px;
      text-transform: uppercase;
      text-align: center;
      padding: 80px 0 160px;
  }

  .projects__title:before {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #2C4058;
    display: block;
    position: absolute;
    left: calc(50% - 55px);
    top: 50px;    
  }

  .content__subtitle {
      font-family: 'gothamBook';
      font-size: 22px;
      text-transform: uppercase;
      color: #2c4058;
      padding-top: 65px;
  }

  .content__title {
      font-family: 'gothamBook';
      font-size: 44px;
      color: #2c4058;
      text-transform: uppercase;
      padding-bottom: 40px;
  }

  .content__description {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: #4b5562;
  }

  .btn {
      font-family: 'gothamBook';
      font-size: 14px;
      text-transform: uppercase;
      width: 190px;
      height: 50px;
      color: #2c4058;
      border: 1px solid #2C4058;
      background-color: rgba(104, 60, 60, 0);
      cursor: pointer;
      margin: 40px 0 60px 0;
      overflow:hidden;
      transition: all 0.5s;
  }

  .btn:hover{
    background-color: orangered;
    color: #fff;
  }

  .icon-map-marker:before {
    content: "\f041";
    padding-right: 10px;
  }

  .content__address {
    color: #2c4058;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: italic;
  }

  /*SECTION NEWS START*/
.news {
    background-image: url(../img/news__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.news__title {
    font-family: 'gothamMedium';
    font-size: 44px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 140px 0 90px 0;
    position: relative;
}
.news__title:before {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #2C4058;
    display: block;
    position: absolute;
    left: calc(50% - 55px);
    top: 110px;
}

.news__slider {
 height: 100%; 

}

  //arrows

.slick-slider{
    min-width: 0;
}

  .slick-arrow{
      width: 100%;
  }

  .slick-prev {
    max-width: 100%;
    position: absolute;
    top: calc(50% - 100px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    left: -55px;
    background-color: rgba(100, 55, 55, 0);
  }

  .slick-next {
    max-width: 100%;
    position: absolute;
    top: calc(50% - 100px);
    right: -55px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgba(100, 55, 55, 0);
  }

  .icon-angle-left:before {
    content: "\f104";
    color: #fff;
  }

  .icon-angle-right:before {
    content: "\f104";
    color: #fff;
  }

.slide__wrapper {
    margin: 0 10px;
    background-color: #fff;
    max-height: 550px;
    height: 100%;
}

.slider__img {
    width: 100%;
    object-fit: cover;
}

.title__slide {
    font-family: 'gothamBold';
    font-size: 22px;
    text-transform: uppercase;
    padding: 30px 20px 20px 20px;
}

.description__slide {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #4b5562;
    padding: 0 20px 40px 20px;
}

.slide-bottom {
    display: flex;
}

.slide-bottom__title {
    font-family: 'gothamBook';
    font-size: 18px;
    color: #4b5562;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.slide-bottom__subtitle {
    font-family: 'gothamBook';
    font-size: 14px;
    color: #55b7ff;
}

.slide-bottom__content {
    display: flex;
    flex-direction: column;
}

.icon-slider {
    padding: 0 20px 0 20px;
}


//slider bottom
.my-dots-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0 0 30px;
    list-style: none;
    text-align: center;
    @media (max-width: 490px) {   
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        width: 100%;
        padding: 30px 0 0 30px;
        list-style: none;
        text-align: center;
        justify-content: center;
    }
  }
  
  .my-dots-bottom li {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 40px 40px 0;
    padding: 0;
    cursor: pointer;
  }
  
  .my-dots-bottom li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    
  }
  
  .my-dots-bottom li button:hover,
  .my-dots-bottom li button:focus {
    outline: none;
  }
  
  .my-dots-bottom li button:hover:before,
  .my-dots-bottom li button:focus:before {
    opacity: 1;
  }
  
  .my-dots-bottom li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    text-align: center;
    opacity: .25;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }
  
  .my-dots-bottom li.slick-active button:before {
    opacity: .75;
    color: white;
    background-color: #fff;
    border-radius: 50%;
    width: 9px;
    height: 9px;
  }

  /*SECTION NEWS END*/

  /*GALLERY START*/

  .gallery__title {
    font-family: 'gothamMedium';
    font-size: 44px;
    text-align: center;
    margin: 140px 0 100px 0;
    padding: 40px 0 0 0;
    text-transform: uppercase;
    position: relative;
  }

  .gallery__title:before {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #2C4058;
    display: block;
    position: absolute;
    left: calc(50% - 55px);
    top: 10px;
  }  

.gallery-body {
    display: flex;
}

.gallery-body__big {
    width: 100%;
}

.gallery-body__small {
    padding: 0;
    margin: 0;
    width: 100%;
}

.gallery-pic {
    padding: 0;
    margin: 0;
    max-width: 100%;
    @media (max-width: 767px) {
        width: 500px;
    }
}


.gallery__btn {
    font-family: 'gothamBook';
      font-size: 14px;
      text-transform: uppercase;
      width: 190px;
      height: 50px;
      color: #2c4058;
      border: 1px solid #2C4058;
      background-color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      display: block;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 140px;
      overflow:hidden;
    transition: all 0.5s;
}

.gallery__btn:hover{
background-color: orangered;
color: #fff;
}

  /*GALLERY END*/

  .map {
    width: 100%;
    height: 700px;
  }

  //grid

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "big_pic big_pic small_pic1 small_pic2" "big_pic big_pic small_pic3 small_pic4";
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
  }
  
  .big_pic { 
    grid-area: big_pic;
 }
  
  .small_pic1 { 
    grid-area: small_pic1;
 }
  
  .small_pic2 { 
    grid-area: small_pic2;
 }
  
  .small_pic3 {
    grid-area: small_pic3;
 }
  
  .small_pic4 { 
    grid-area: small_pic4;
 }

 /*FOOTER START*/

.footer {
    background-image: url('../img/footer_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 520px;
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 520px) {
        min-height: 280px;
    }
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    @media (max-width: 320px) {
        max-width: 320px;
    }
}

.footer__body {
    margin: 0 auto;
    min-width: 770px;
   // background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
        min-width: 500px;
    }
    @media (max-width: 600px) {
        justify-content: center;
        flex-direction: column;
        min-width: 100%;
    }
    @media (max-width: 520px) {
        width: 100%;
    }
}   

.footer__content {
    font-family: 'gothamBook';
    font-size: 14px;
    color: #fff;
    margin-top: 50px;
    @media (max-width: 600px) {
        text-align: center;
    }
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__icon {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin: 0 10px 0 0;
}

.footer__icon:hover {
    color: orange;
}

.footer__form__wrap {
    position: relative;
}

.footer__form {
    position: absolute;
    max-width: 770px;
    width: 100%;
    background-color: #fff;
    top: -680px;
    left: 0;
    padding: 60px;
    @media (max-width: 767px) {
        max-width: 500px;
        padding: 0;
        top: -840px;
    }
    @media (max-width: 520px) {
        max-width: 100%;
        top: -770px;
    }
}

.wrap__form {
    display: flex;
    justify-content: space-around;
    position: relative;
   @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }
}

.form__content {
    display: flex;
    flex-direction: column;
} 

.form__inf {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    //padding-left: 20px;
    @media (max-width: 767px) {
        align-items: center;     
    }
}

.form__title {
    text-align: center;
    font-family: 'gothamMedium';
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 60px;
    position: relative;
    @media (max-width: 767px) {
        padding: 30px 0;
    }
    @media (max-width: 520px) {
        font-size: 30px;    
        
    }
}

.form__title:before {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #2C4058;
    display: block;
    position: absolute;
    left: calc(50% - 55px);
    top: -25px;
}


.form__icon {
    color: #7E5AFF;
    padding-bottom: 45px;
}

.form__address {
    font-family: 'gothamBook';
    font-size: 14px;
    color: #2c4058;
    padding-bottom: 45px;
    margin-left: 15px;
}

.inf__input {
    height: 50px;
    width: 310px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #2C4058 ;
    font-family: 'gothamBook';
    font-size: 18px;
    color: #2C4058;
    @media (max-width: 490px) {
        width: 100%;
    }
}

.form__button {
    font-family: 'gothamBook';
    font-size: 14px;
    text-transform: uppercase;
    width: 140px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #2C4058 ;
    cursor: pointer;
    margin-bottom: 80px;
    transition: all 0.5s;
    @media (max-width: 520px) {
        margin-bottom: 30px;
    }
}

.form__button:hover{
    background-color: orangered;
    color: #fff;
}
 /*FOOTER END*/
