/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/*FONTS START*/

@font-face {font-family: "futurademic"; src: url("//db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.eot"); src: url("//db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.woff") format("woff"), url("//db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/06b73c421b7c269c7a0cb40df0daba21.svg#futurademic") format("svg"); }

@font-face {font-family: "FuturaBookC"; src: url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.eot"); src: url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.woff") format("woff"), url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e05b78cd627ded97c38881306e3601fe.svg#FuturaBookC") format("svg"); }

/*FONTS END*/



body {
    font-family: 'futurademic';
    font-size: 16px;
}


.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

/*SELECT START*/
.wrap-selector {
    width: 70px;
  }
  .custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
  }
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
    width: inherit;
  }
  .custom-select-trigger {
    position: relative;
    display: block;
    padding: 0 35px 0 12px;
    line-height: 2em;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  .custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    top: 45%;
    right: 0px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #222 transparent transparent transparent;
  }
  .custom-select.opened .custom-select-trigger:after {
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #222 transparent;
  }
  .custom-options {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    //right: 0;
    min-width: 100%;
    margin: 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
    background: #fff;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 9;
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
  .option-hover:before {
    background: #f9f9f9;
  }
  .custom-option {
    position: relative;
    display: block;
    padding: 0 12px;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;
  }
  .custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
  }
  .custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
  }
  .custom-option:hover,
  .custom-option.selection {
    background: #ebebeb;
  }

  /*SELECT END*/

  /*HEADER START*/
.header__wrap{
    display: flex;   
    border: 1px solid #E9E9E9;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.header__nav {
    display: flex;
    width: 100%;
    align-items: center;
    @media (max-width: 600px) {
        border-bottom: 1px solid #E9E9E9;
        border-top: 1px solid #E9E9E9;
        order: 1;
    }
}

.header-content__wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.header__content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @media (max-width: 992px) {
        flex-direction: column;
        text-align: center;
    }
}

.logo {
    border-right: 1px solid #E9E9E9;
    padding: 35px;
    @media (max-width: 600px) {
        //border-right: none;
    }
}

.nav {
    display: flex;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @media (max-width: 992px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.nav__items {    
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000;
    @media (max-width: 992px) {
        padding-bottom: 10px;
    }
}

.nav__items:hover {
    color: #FF5C00;
}

.header__contact {
    line-height: 18px;
    text-transform: uppercase;
    color: #FF5C00;
    @media (max-width: 600px) {
        font-size: 14px;
    }
}


.wrap-selector {
    border-left: 1px solid #E9E9E9;
    padding: 35px 80px 35px 35px;
    width: 100px;
    @media (max-width: 600px) {
        padding: 10px;
        border-left: none;
    }
}
  /*HEADER END*/

/*ABOUT START*/

.about-wrap {
    display: flex;
    border: 1px solid #E9E9E9;
    position: relative;
    @media (max-width: 875px) {
        flex-direction: column;
    }
}

.about__description {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    border-left:  1px solid #E9E9E9;
    margin-left: 110px;
    justify-content: center;
    padding-left: 70px;
    @media (max-width: 960px) {
        padding-left: 10px;
    }
    @media (max-width: 875px) {
        align-items: center;
        margin-bottom: 25px;
        border-left: none;
        padding-right: 10px;
    }
}

.about-content__wrap {
    display: flex;
    align-items: center;
    @media (max-width: 875px) {
        margin-top: 20px;
     
    }
}

.subtitle {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FF5C00;
    margin-right: 15px;

}

.title {
    font-size: 145px;
    color: #141414;
    text-transform: uppercase;
    @media (max-width: 1145px) {
        font-size: 120px;
    }
    @media (max-width: 1065px) {
        font-size: 90px;
    }
    @media (max-width: 600px) {
        font-size: 50px;
    }
}

.description {
    font-size: 30px;
    color: #141414;
    font-family: 'FuturaBookC';
    padding-top: 75px;
    @media (max-width: 600px) {
        font-size: 24px;
        text-align: center;
        padding-bottom: 10px;
    }
}

.description-bottom {
    font-size: 30px;
    color: #141414;
    font-family: 'FuturaBookC';
    padding-bottom: 75px;
    @media (max-width: 600px) {
        font-size: 24px;
        text-align: center;
    }
}

.btn {
    width: 360px;
    height: 60px;
    background: #FF5C00;
    border-radius: 100px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    @media (max-width: 960px) {
        width: 255px;
    }
    @media (max-width: 600px) {
        width: 170px;
    }
}

.btn span{
    padding-left: 15px;
    @media (max-width: 875px) {
        display: none;
    }
}

.slider__wrap {
    display: flex;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    @media (max-width: 875px) {
        align-items: center;
        justify-content: center;
    }
}

.slider-big {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    @media (max-width: 875px) {
       // border-left: 1px solid;
       // margin-left: 217px;
    }
}

.slider__img {
    max-width: 100%;
    border-right: 1px solid #E9E9E9;
    padding-right: 3px;
    @media (max-width: 1300px) {
        border-right: none;
    }
}

.slider-small {
    position: absolute;
    top: 30%;
    left: 88%;  
    @media (max-width: 600px) {
        display: none;
    }
}

.slide-small {
    
    width: 100%;
}

.slick-next {
    position: absolute;
    top: 22%;
    right: 50px;
    background-color: #fff;
    @media (max-width: 1300px) {
        right: 6%;
        top: 16%;
    }
    @media (max-width: 600px) {
        display: none !important;
    }
}


.slick-prev {
    position: absolute;
    top: 69%;
    right: 50px;
    background-color: #fff;
    z-index: 99;
    @media (max-width: 1300px) {
        right: 6%;
        top: 75%;
    }
    @media (max-width: 600px) {
        display: none !important;
    }
}
//slick-next slick-arrow

.social {
    position: absolute;
    top: 40%;
    left: 40px;
    display: flex;
    flex-direction: column;
    @media (max-width: 875px) {
        top: 15%;
    }
}

.social__img {
    padding-bottom: 50px;
}