* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    margin: 0 auto;
    height: 1000px;
    background-image: url(../img/img.png);
}

.wrap_left {
    display: flex;
    width: 50%;
    height: 890px;  
}

.wrap_right {
    width: 50%;
    height: 890px;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 110px;
}

.bottom_img {
    width: 24px;
    height: 40px;
}

.wrap_desc {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}


.logo {
    font-family: 'Pacifico', cursive;
    color: #262626;
    font-size: 50px;
    font-weight: 400;
    align-items: flex-start;
}

.nav {
    padding-top: 60px;
}

.nav li {
    display: inline;
    margin-right: 40px;
} 

.nav li a {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav li a:hover {
    border-top: 3px solid #FF6033;
    padding-top: 10px;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.subdesc {
    font-size: 17px;
    color: #262626;
    margin: 35px 350px 35px 0;
}

.btn {
    width: 200px;
    height: 55px;
    background-color: #FF6033;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    font-weight: lighter;
}

.foot {
    width: 100%;
    background-color: #00BCBC;
    display: flex;
}

.foot__left {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0;

}

.foot__right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    font-size: 90px;
    font-weight: bold;
    color: #fff;
}

.about_desc {
    font-size: 17px;
    color: #fff;
    margin-top: 35px;
    margin-right: 170px;
}