* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    margin: 0 auto;
    height: 1000px;
    background-image: url(../img/img.png);
}

.wrap_left {
    width: 50%;
    height: 890px;
    padding-left: 160px;
}

.wrap_right {
    width: 50%;
    height: 890px;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 110px;
}

.bottom_img {
    width: 24px;
    height: 40px;
}

.logo {
    font-family: 'Pacifico', cursive;
    color: #262626;
    font-size: 50px;
    font-weight: 400;
}

.wrap_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    padding-top: 60px;
}

.nav li {
    display: inline;
} 

.nav li a {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding-right: 40px;
}

.nav li a:hover {
    border-top: 3px solid #FF6033;
}