@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Aleo Regular";
  src: url("../fonts/Aleo-Font/Webfont/Regular/aleo-regular-webfont.woff"), url("../fonts/Aleo-Font/Webfont/Regular/aleo-regular-webfont.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Aleo Bold";
  src: url("../fonts/Aleo-Font/Webfont/Bold/aleo-bold-webfont.woff"), url("../fonts/Aleo-Font/Webfont/Bold/aleo-bold-webfont.woff2");
  font-style: normal;
  font-weight: bold;
}
body {
  font-family: "Aleo Regular";
  font-size: 14px;
  line-height: 1.3;
}

.conteiner {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(../img/bg_header.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__conteiner {
  position: relative;
}
.header__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
}
.header__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  text-align: justify;
  padding-bottom: 50px;
}
.header__btn {
  min-width: 145px;
  background-color: #5474FD;
  min-height: 57px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}
.header__input {
  width: 500px;
  height: 55px;
  border: none;
}
.header__input::placeholder {
  text-transform: capitalize;
  text-align: center;
  color: #999999;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
}
.header__form {
  background-color: #fff;
  padding: 2px;
}

.menu {
  background-color: #5474FD;
  position: sticky;
  top: 0;
  z-index: 3;
}
.menu__conteiner {
  padding: 30px 0;
}
.menu__row {
  display: flex;
  justify-content: space-between;
}
.menu__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.menu__items {
  display: inline;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 40px;
}

.choose {
  background-image: url(../img/bg_who_choose.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.choose__img {
  position: relative;
  top: 0;
  right: 0;
  max-width: 350px;
  height: 220px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 5px;
}
.choose__img:first-child {
  margin: 0 auto;
}
.choose__text-wrap {
  width: 50%;
  float: left;
  margin-top: 120px;
  padding-right: 30px;
  margin-bottom: 120px;
}
.choose__img-wrap {
  width: 50%;
  float: left;
  margin-top: 120px;
  margin-bottom: 120px;
}
.choose__title {
  font-family: inherit;
  font-size: 36px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  padding-top: 85px;
  margin-bottom: 65px;
}
.choose__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #e8e8e8;
  font-weight: 400;
}
.choose__btn {
  max-width: 225px;
  width: 100%;
  min-height: 55px;
  background-color: #5474FD;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 50px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.whoitworks {
  background-color: #333;
}
.whoitworks__icon {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  position: relative;
}
.whoitworks__text {
  padding-top: 35px;
  padding-bottom: 100px;
}
.whoitworks__list {
  display: flex;
  justify-content: space-around;
}
.whoitworks__items {
  display: inline;
  font-family: inherit;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  color: #e8e8e8;
}

.icon-line {
  position: absolute;
  top: 0;
}

.tour {
  background-image: url(../img/bg_spain1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 100px 0;
}
.tour__text {
  width: 50%;
  padding: 50px 30px;
  background-color: #000;
  opacity: 0.6;
}
.tour__direction {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #e8e8e8;
}
.tour__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #e8e8e8;
  padding: 30px 0 30px 0;
}
.tour__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #e8e8e8;
  padding-bottom: 30px;
}
.tour__btn {
  max-width: 225px;
  width: 100%;
  min-height: 55px;
  background-color: #5474FD;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.nexttour {
  background-image: url(../img/bg_spain2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 100px 0;
}
.nexttour__text {
  float: right;
  margin-right: 10px;
}

.reviews {
  background-image: url(../img/bg_reviews.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}
.reviews__title {
  font-family: inherit;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  padding: 120px 0 100px 0;
}
.reviews__wrap {
  background-color: #333;
  min-height: 284px;
}
.reviews__img {
  float: left;
  max-width: 445px;
  margin-right: 55px;
}
.reviews__author {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #fefefe;
  text-transform: uppercase;
  padding: 55px 0;
}
.reviews__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #fefefe;
  padding-right: 50px;
}

.icon-quote-left:before {
  content: "";
  color: #5474FD;
  display: block;
  padding-right: 10px;
  top: -10px;
  float: left;
  position: relative;
}

.footer {
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding-top: 120px;
}
.footer__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 35px 0 50px 0;
}

.item-active {
  color: #5474FD;
}

.non-active {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */